.selfImage{
    position: absolute;
    right: -33px;
    width: 796px;
    /* height: 800px; */
}

@media screen and (max-width: 1300px){
    .selfImage{
        width: 555px;
        right: -121px;
    }
}

@media screen and (min-width: 10px){
    .selfImage{
        
    }
}


.parentSelf{
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.errorText{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 177px;
    color: orangered;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
}