.body1{
    /* position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; */
    
    /* width: 800px; */
    
    /* background: rgb(252,229,70);
background: radial-gradient(circle, rgba(252,229,70,1) 13%, rgba(251,192,63,1) 49%, rgba(251,192,63,1) 56%); */
    /* height: 100vh; */
    /* background-size: cover; */
    color: black;
    margin: 0px;
    padding: 0;
    padding-top: 25px;    
   
}

.highlight{
    border-bottom: 4px dashed orangered;
    
    color: white;
}

.highlight:hover{
    color: orangered;
    text-decoration: none;
}

    

    /* .cartoonP{ */
        /* display: block;*/
        /* text-align: center;  */
       
    /* } */

        .indv{
            border-radius: 5px;
        padding: 3px;
        border: 1px solid white;
        }

    .one{
        background-color: blue;
    }

    .two{
        background-color: green;
    }

    .three{
        background-color: red;
    }

    .four{
        background-color: purple;
    }

    .five{
        background-color: magenta;
    }

    .codeLink{
        text-decoration: underline dashed orangered;
        color: #FFE900;
    }

    /* arrows */
.arrows {
    top:-80px;
	width: 60px;
	/* height: 72px; */
	position: relative;
	left: 50%;
	/* margin-left: -30px; */
    margin-bottom: 184px;
	/* bottom: 20px; */
}

@media screen and (max-width: 1444px){
    .arrows{
        margin-left: 97px;
    }
}

.arrows path {
	stroke: #ff4500;
	fill: transparent;
	stroke-width: 5px;	
	animation: arrow 1s infinite;
	-webkit-animation: arrow 1s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/* arrows ends */

.lastNav{
    background-color: black;
    color: white;
    border-top:8px solid orangered;
    font-family: 'Circularpro book', sans-serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    padding: 20px 0 20px 0;
}