/* .sideLinkGroup{
    
    display: flex;
    justify-content:center ;
    z-index: 20;
    position: fixed;
    top: 328px;
    left: -326px;
    justify-content: space-evenly;
    width: 742px;
    height:83px;
     */
    /* flex-wrap: wrap-reverse; */
/* } */

/* .sideLinkGroup .sidelink{ */
    /* position: fixed; */
    /* left: -364px; */
/* } */

.sidelink{
    position: fixed;
    left: -78px;
    transform: rotate(-90deg);
    width: 165px;
    background-color: black;
    /* position: fixed; */
    color: white;
    text-align: center;
    font-size: 30px;
    border-radius: 20px 0px 20px 0px;
    padding-top: 30px;
    transition: left .5s ease;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 4px;
    border-bottom: 8px solid orangered;
    /* transform: rotate(-90deg); */
    /* top: 13%;
    left: -76px; */
}



@media screen and (min-width:800px) {
    /* .sidelink{left: -19%;} */

    .sidelink:hover{
        left: -54px;
        
    }     
}

/* @media screen and (min-width: 381px) and (max-width: 1795px){
    .sidelink{left: -19%;} */

    /* .sidelink:hover{
        left: -13%;
        
    } */
/* } */

/* .sidelink:hover{
    left: -3.4%;
    
} */