.projectBox{
    border: 3px solid white;
    border-radius: 20px 0 20px 0;
    padding: 20px;
    margin: 10px;
}

.projectImage{
    height: 25vw;
    border: 8px solid #FFE900;
}

.titlee{
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    font-size: 45px;
    text-decoration: underline dashed orangered;
    letter-spacing: 4px;
}
.description{
    font-family: 'Karla',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 25px 0;
    /* height: 60%; */
    /* text-align: center; */
}

.toolsBox{
    text-align: center;
    padding-bottom: 25px;
    
}

.toolsT{
    font-weight: bold;
}

.tools{
    font-size: 20px;
}



